body {
    background: #fcfcfc;
    margin: 0;
    padding: 0;
}

.loading-center {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loading-square-container {
    width: 265px;
    height: 165px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    /*background: #ddd;*/
}

.loading-logo {
    width: 265px;
    height: 65px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    background-image: url("/img/angular-seed-300x107.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.loading-spinner {
    border: 8px solid #111111;
    border-radius: 50%;
    border-top: 8px solid #f32c2c;
    border-left: 8px solid #f32c2c;
    border-right: 8px solid #58ab23;
    border-bottom: 8px solid #58ab23;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
    width: 45px;
    height: 45px;
    margin-left: calc(50% - 25px);
    margin-top: 35px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*** Change Materialize default preloaders colors ***/

.spinner-custom-color {
    border-color: #f32c2c !important;
}

.custom-mat-spinner {
    margin-left: calc(50% - 15px);
    margin-top: 35px;
}

.progress-bg-color {
    background: #f32c2c !important;
}

.progress-top-color {
    background: #6aba37 !important;
}
